.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f8f8f8;
  > .flex-item {
    position: relative;
    overflow: hidden;
    > view {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
      .Content {
        position: relative;
        overflow: hidden;
        > .BannerSwiper {
          width: 100%;
          padding-bottom: 56.25%;
          position: relative;
          overflow: hidden;
          height: 0;
          > view {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
            > swiper {
              width: 100%;
              height: 100%;
            }
            .BannerItem {
              width: 100%;
              height: 100%;
              position: relative;
              overflow: hidden;
              > image {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        > .Title {
          padding: 0 30px;
          background: #fff;
          position: relative;
          overflow: hidden;
          > view {
            font-size: 32px;
            font-weight: bold;
            color: #333;
            line-height: 40px;
            padding: 20px 0;
          }
        }
        > .Detail {
          position: relative;
          overflow: hidden;
          margin-top: 30px;
          background: #fff;
          > .Text {
            padding: 0 30px;
            font-size: 28px;
            line-height: 80px;
            border-bottom: 2px solid #eee;
          }
          > image {
            width: 100%;
            height: auto;
            display: block;
          }
        }
      }
    }
  }
  > .Bottom {
    background: #fff;
    border-top: 2px solid #eee;
    > .flex-item {
      padding: 0 30px;
      > view {
        font-size: 32px;
        color: #e00f3a;
        font-weight: bold;
        line-height: 84px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    > .Btn {
      width: 200px;
      text-align: center;
      font-size: 28px;
      color: #fff;
      background: #ccc;
      line-height: 84px;
      &.active {
        background: #e00f3a;
      }
    }
  }
}
